page-register {
        ion-radio{

        float: right;
           
        }
        .acc{

                font-weight: bold;

        }
        .link{
           font-size: 15px;
           margin-bottom: 20px;
        }
}
