page-intro {
    
  
  
    
    img{

      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 100%;
     
    }
      .slide-title {
      
        text-align: center;
      }
      
      .slide-image {
        
        display: block;
        margin-left: auto;
        margin-right: auto;
        
      }
      
     
      
      p {
        font-family: 'Times New Roman', Times, serif;
        padding: 0 40px;
        font-size: 16px;
        line-height: 1.2;
        
        
      }
}


// .content{ 
        
//         background: url("../assets/img/start.png") no-repeat;
    
    
//     }